<header class="header">
  <div class="header-block">
    <div class="header-logo"><a href="/">Shopping</a></div>
      <ul class="header-btn">
        <% if user_signed_in? %>
          <li class="list"><%= link_to "Myページ", destroy_user_session_path, method: :delete %></li>
          <li class="list"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class="list"><%= link_to "新規登録", new_user_registration_path %></li>
          <li class="list"><%= link_to "ログイン", new_user_session_path %></li>
        <% end%>
      </ul>
    </div>
  </div>
</header>