* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.registration-main-sign{
  text-align: center;
  display: flex;
  justify-content: center;
  width: 700px;
  height: 100%;
  margin: 60px auto 60px;
  border-radius: 10px;
  border: 1px #ddd solid;
  background-color: rgba(18, 187, 238, 0.719);
  
}

.registration-main-login{
  text-align: center;
  display: flex;
  justify-content: center;
  width: 700px;
  height: 100%;
  margin: 60px auto 60px;
  border-radius: 10px;
  border: 1px #ddd solid;
  background-color: rgba(18, 187, 238, 0.719);
}

.login-flash-message{
  width: 100%;
  font-size: 20px;
  text-align: center;
}

h1{
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  opacity: 0.7;
  padding-top: 70px;
}

.home{
  font-size: 50px;
  color: cornflowerblue;
}

.ext_name{
  font-size: 20px;
}

input[type="text"] {
  width: 400px;
  height: 40px;
}

input[type="email"] {
  width: 400px;
  height: 40px;
}

input[type="password"] {
  width: 400px;
  height: 40px;
}

input[type="submit"] {
  width: 400px;
  height: 40px;
}

.input-birth-wrap{
  justify-content: space-around;
}

.form-login{
  padding: 90px;
}